.footer {
    width: 100%;
    background: black;
    color: white;
    padding-top: 60px;
    margin-top: 80px;
}

.footer .wrap {
    width: 90%;
    max-width: 1300px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
}

.footer .box h2 {
    font-size: 40px;
    margin-bottom: 20px;
}

.footer .box h3 {
    font-size: 22px;
    margin-bottom: 20px;
}

.footer .box p {
    font-size: 16px;
    color: white;
    line-height: 1.8;
    margin-bottom: 12px;
}

.footer .box a {
    display: block;
    color: white;
    text-decoration: none;
    font-size: 16px;
    margin-bottom: 12px;
}

.footer .box a:hover {
    color: white;
}

.footer .copy {
    text-align: center;
    border-top: 1px solid gray;
    margin-top: 50px;
    padding: 25px 0;
}

.footer .copy p {
    font-size: 16px;
    color: white;
}
